# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/

# Distribution / packaging
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Mac
.DS_Store
*/.DS_Store

# specific run files
RealTime/SessionSummaries/*
RealTime/SessionSummaries_ANNAgui/*
RealTime/xrays-6-hour.json
xrays-6-hour.json
*.tmp
RealTime/flaretest_*
flaretest_*
goes-response-latest.fits
